@tailwind utilities;
@layer utilities {
  @keyframes animate_logo_light {
    0%,
    100% {
      @apply text-sky-600;
    }
    33% {
      @apply text-red-600;
    }
    66% {
      @apply text-emerald-600;
    }
  }
  .animate-logo {
    animation: animate_logo_light 20s linear infinite;
  }
  @keyframes animate_logo_dark {
    0%,
    100% {
      @apply text-sky-400;
    }
    33% {
      @apply text-red-400;
    }
    66% {
      @apply text-emerald-400;
    }
  }
  .dark .animate-logo {
    animation-name: animate_logo_dark;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .docs ::-webkit-scrollbar-thumb {
    @apply bg-gray-700 rounded-lg;
  }
  .docs ::-webkit-scrollbar {
    height: 2rem;
    width: 0.5rem;
    @apply bg-gray-800;
  }
  .thumb ::-webkit-scrollbar-thumb {
    @apply bg-gray-700 rounded-lg;
  }
  .thumb ::-webkit-scrollbar {
    height: 0.8rem;
    @apply bg-gray-800 rounded-lg;
  }
}
